<!-- <header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div>
      <a class="Schoodle"  href="/">SCHOODLE</a>
    </div>
      <span class="navRightSide">
        <a class="nav-item nav-link" href="/create">Create an Event</a>

      </span>
  </nav>
</header> -->


<header>
    <a class="navbar-brand" href="/">SCHOODLE</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/create">Create an Event</a>
    </div>
</header>

