<!-- <header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div>
      <a class="Schoodle"  href="/">SCHOODLE</a>
    </div>
      <span class="navRightSide">
        <a class="nav-item nav-link" href="/create">Create an Event</a>

      </span>
  </nav>
</header> -->


<header>
  <div class="navbar-left">
    <i class="fa-solid fa-calendar-days"></i>
    <a class="navbar-name" href="/">Schoodle</a>
  </div>
  <div class="navbar-right">

    <button class="nav-create-event" > <i class="fa-solid fa-plus"></i>Create Event</button>
  </div>
</header>

