<header>
  <div class="navbar-left">
    <!-- <i class="fa-solid fa-calendar-days"></i> -->
    <a class="navbar-name" href="/">
      <img src="/schoodle-logo.png" alt="Schoodle" id="schoodle-logo">
    </a>
  </div>
  <div class="navbar-right">

    <button class="nav-create-event" > <i class="fa-solid fa-plus"></i>Create Event</button>
  </div>
</header>

