<header>
  <div class="navbar-left">
    <!-- <i class="fa-solid fa-calendar-days"></i> -->
    <!-- <a class="navbar-name" href="/">Schoodle</a> -->
    <img src="/schoodle-logo.png" alt="Schoodle" class="schoodle-logo">
  </div>
  <div class="navbar-right">

    <button class="nav-create-event" > <i class="fa-solid fa-plus"></i>Create Event</button>
  </div>
</header>

