<!DOCTYPE html>
<html lang="eng">

<head>
  <title>Create an Event</title>

  <!-- <External CSS> -->
  <link rel="stylesheet" href="" type="text/css"/>


  <!-- <APP CSS> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- <EXTERNAL CSS> -->

  <!-- App JS -->
</head>

<body>
  <%- include('partials/_header') %>

</body>




















</html>
