<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include all external dependencies  -->
 <%- include('partials/_header') %>
</head>

<body>
  <%- include('partials/_nav') %>


<!-- Page-specific (main) content here -->
<main class="container">
  <section class="welcome" >
    <h1>Welcome to Schoodle!</h1>

    <h2>Where all your scheduling needs are met</h2>
  </section>

  <form method="POST" action="/create" class="submitForm" id="submitForm">
    <section class="new-event" hidden="true">
      <h1>Create an Event</h1>
        <div class="form-section">
          <label>Title:</label>
          <textarea placeholder="Event Title" class="text" name="title" id="title"></textarea>
        </div>
        <div class="form-section">
          <label>Description:</label>
          <textarea placeholder="Write a short description" class="text" name="description" id="description"></textarea>
        </div>
        <div class="form-section">
          <label>Name:</label>
          <textarea placeholder="Your full name" class="text" id="name" name="name"></textarea>
        </div>
        <div class="form-section">
          <label>Email:</label>
          <input type="email" id="email" name="email" class="text" required placeholder="Enter email" style="Width: 250px"/>
        </div>
        <div>
          <textarea class="text"name="timeslots" id="timeslots" hidden="true" >      </textarea>
        </div>

        <div class="continue-btn">
          <button class="button" type="button" id="continue-btn" >Continue</button>
          <!-- Routes to GET timeslots -> carry over data from this form via cookies -->
        </div>
    </section>
    <br>
    <section class="calendar" hidden="true">
      <h1>Select Event dates</h1>
      <div class="date-entry">

              Start Time: <input type="datetime-local" id="start-date" min required>
              End Time:   <input type="datetime-local" id="end-date" required>
              <select name="timezone" id="timezone">
                <option value="Eastern">Eastern</option>
                <option value="Pacific">Pacific</option>
                <option value="Mountain">Mountain</option>
                <option value="Central">Central</option>
                <option value="Atlantic">Atlantic</option>
                <option value="Newfoundland">Newfoundland</option>
                <!-- and so on -->
            </select>

        <table id="date-entries" hidden="true">
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
          </tr>
      </table>

      </div>
      <div class="add-date-btn">
        <button class="add-btn" type="button" ><i class="fa-solid fa-plus"> </i></button>
        <!-- Routes to GET timeslots -> carry over data from this form via cookies -->
      </div>
      <div class="complete-btn">
        <button class="button" type="submit"> Complete Event </button>
         <!-- Routes to GET timeslots -> carry over data from this form via cookies -->
      </div>
    </section>

    </form>
    <section class="url" hidden="true">
      <h2>Event Url:</h2>
      <p id="event-url"></p>
    </section>
  </main>
  </div>
</body>

</html>
