<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome Library  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script> -->


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

<!-- Page-specific (main) content here -->
<main class="container">
  <section class="welcome"hidden="true">
    <h1>Welcome to Schoodle!</h1>

    <h2>Where all your scheduling needs are met</h2>
    <button class="button" >Create an event</button> <!-- reload this container with the welcome class hidden and the new-event class showing -->
  </section>

  <section class="new-event" >
    <h1>Create an Event</h1>
    <form method="POST" action="/" class="submitForm">
      <div class="form-section">
        <label>Title:</label>
        <textarea placeholder="Event Title" class="text" ></textarea>
      </div>
      <div class="form-section">
        <label>Description:</label>
        <textarea placeholder="Write a short description" class="text" ></textarea>
    </div>
    <div class="form-section">
      <label>Name:</label>
      <textarea  placeholder="Your full name" class="text" ></textarea>
    </div>
    <div class="form-section">
      <label>Email:</label>
      <input  type="email" class="text" required placeholder="Enter email" style="Width: 250px"/>
    </div>
    <div class="continue-btn">
      <button class="button" type="submit">Continue</button> <!-- Routes to GET timeslots -> carry over data from this form via cookies -->
    </div>
    </form>




  </section>
</main>
</body>

</html>
