<!DOCTYPE html>
<html lang="en">
<head>
<title>Share your event</title>
  <!-- Include all external dependencies  -->
  <%- include('partials/_header') %>
</head>

<body>
  <%- include('partials/_nav') %>

</body>
