// See: https://sass-lang.com/

body header {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #38686a;
  padding: 1.5em;
  justify-content:space-between;
  position: fixed;
  top: 0;
}

body header .navbar-brand {
  font-family:'Grape Nuts', cursive;
  font-size: 2.5em;
  color: #a1c6ea;
  text-decoration: none;
}

body header .navRightSide {
  text-align: center;
}

main .new-event .submitForm{
  display: flex;
  flex-direction: column;
}

body main .welcome {
  font-family:'Grape Nuts', cursive;
  font-size: 1.5em;
  color: white;
}
